nav.navbar.navbar-expand-lg.navbar-light.bg-light
    
    a.navbar-brand(href="/") Navbar
    button.navbar-toggler(
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    )
        span.navbar-toggler-icon

    div#navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="#") Test1
            li.nav-item
                a.nav-link(href="#") Test2
            li.nav-item
                a.nav-link(href="#") Test3